

 /**************************
*
*	GENERAL
*
**************************/



.slider_wrapper {
	box-shadow: 0 1px 2px #acacac;
	overflow: hidden;
	position: relative;
	z-index: 0;
	padding: 4px 5px 75px;
	border-top: 1px solid #fff;
	margin-top: 40px;
	height: 398px;
	background: #000;

}

.camera_target_content {
	overflow: visible !important;

}

.camera_wrap {
	overflow: hidden;
	display: none;
	position: relative !important;
	overflow: visible !important;
	z-index: 0;
	margin-bottom: 0 !important;
}

.camera_wrap img {
	max-width: 10000px;
}

.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
    background: url(../images/blank.html);
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}

.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_commands > .camera_stop {
	display: none;	
}


.slide_wrapper .camera_prev{
	background: url(../images/prevnext_bg.html) 0 0 repeat;
	width: 70px;	
	top: 0 !important;
	height: auto !important;
	bottom: 0;
	left: -80px;
	display: block;
	position: absolute;
	opacity: 1 !important;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.slide_wrapper .camera_prev>span {
	background: url(../images/prev.html) center 0 no-repeat;
	top: 50%;
		
	margin-top: -10px;
	position: absolute;
	display: block;
	height: 20px;
	left: 0;
	right: 0;
}

.slide_wrapper .camera_next>span {
	background: url(../images/next.html) center 0 no-repeat;
	top: 50%;
	margin-top: -10px;
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	height: 20px;
}



.slide_wrapper .camera_next {
	background: url(../images/prevnext_bg.html) 0 0 repeat;
	width: 70px;	
	top: 0  !important;
	bottom: 0;
	height: auto !important;

	right: -80px;
	display: block;
	position: absolute;
	opacity: 1 !important;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.camera_thumbs_cont {
	z-index: 999;
	position: relative;
}


.camera_thumbs_cont > div {
	float: left;
	width: 100%;

}
.camera_thumbs_cont ul {
	overflow: hidden;
	position: relative;
	margin: 0 !important;
	margin-left: -80px !important;
	margin-top: -35px !important;
	text-align: center;
	background-color: #b8684f;
}
.camera_thumbs_cont ul li {
	
	display: inline;
}
.camera_thumbs_cont ul li > img {
	cursor: pointer;
	vertical-align:bottom;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}



.caption{
	position: absolute;
	bottom: -75px;
	left: 0;
	right: 0;

}


.caption a {
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
	display: block;
	letter-spacing: -1px;
	float: right;
	box-shadow: 1px 1px 1px #acacac;
	background: url(../images/btn_bg.png) 0 0 repeat-x;
	font: bold 18px/20px 'Droid Sans', sans-serif;
	padding: 12px 21px 11px 19px;
	color: #fff;
	border: 1px solid #c32a07;
	border-radius: 22px;
	margin-right: 72px;
	margin-top: 14px;
}

.caption a:hover {
	background: url(../images/header_bg.png) 0 0 repeat;
	border-color: #242424 !important;
}


.camera_pag  {
	display: block;
	position: absolute;
	left: 15px;
	top: 15px;
	height: 18px;
	overflow: hidden;
	float: left;	right: 0;
	z-index: 999;
	text-align: left;

}

.camera_pag_ul {
 	overflow: hidden;


}

.camera_pag ul li {
	float: left;
}

.camera_pag ul li+li {
	margin-left: 4px;
}

.camera_pag ul li span {
	display: block;
	width: 18px;
	background: url(../images/pagination.png) right 0 no-repeat;
	height: 18px;
	overflow: hidden;
	color: transparent;
	text-indent: -100px;
}

.camera_pag ul li:hover span, .camera_pag ul li.cameracurrent span {
	background-position: 0 0;
	cursor: pointer;
}

.camera_pag ul li:hover span, .camera_pag ul li.cameracurrent span {
	background-position: 0 0;
	cursor: pointer;
}
/**************************
*
*	COLORS & SKINS
*
**************************/
/**************************

.camera_prev {
	display: block;
	position: absolute;
	background: url(../images/prevnext.png) 5px 2px no-repeat #84ced7;
	width: 46px;
	height: 46px;
	bottom: 109px;
	left: -80px;
	z-index: 999;
	opacity: 1 !important;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}


.camera_next {
	right: 40px;
	display: block;
	position: absolute;
	background: url(../images/prevnext.png) -41px 2px no-repeat #84ced7;
	width: 46px;
	height: 46px;
	left: -34px;
	bottom: 109px;
	z-index: 999;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	opacity: 1 !important;

}


.camera_prev:hover, .camera_next:hover {
	background-color: #323232;
	cursor: pointer;
}


**************************/
