/*--------------social----------------*/
.social_icons {
	float: right;
	overflow: hidden;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	position: relative;
	margin: 20px 40px 0 0;
	z-index: 10;
}
.social_icons > li {
	float: left;
	cursor: pointer;
	width: 32px;
	height: 31px;
	overflow: hidden;
	margin-left: 7px;
	margin-right: 0;
}
.social_icons > li a {
	width: 32px;
	height: 31px;
	overflow: hidden;
}
.social_icons > li a img {
	position: relative;
	top: 0;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.social_icons > li a:hover img {
	position: relative;
	top: -31px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}